<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{ .Hugo.Generator }}
    <link rel="shortcut icon" href="{{ "/images/favicon.ico" | relURL }}">
    <link href="{{ or .RSSLink .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- syntax highlight -->
    <link rel="stylesheet" href="https://yandex.st/highlightjs/8.0/styles/default.min.css">
    <script src="https://yandex.st/highlightjs/8.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {{ if .Site.Params.mathjax }}
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        displayMath: [['$$','$$'], ['\[','\]']],
        processEscapes: true,
        processEnvironments: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
        TeX: { equationNumbers: { autoNumber: "AMS" },
             extensions: ["AMSmath.js", "AMSsymbols.js"] }
      }
    });
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    {{ end }}
    <link rel="stylesheet" type="text/css" href="{{ "/css/style.css" | relURL }}">
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    {{ partial "baidutongji.html" . }}
  </head>
  <body>
    <div id="wrap">
      <header class="site-header">
        <div class="site-header-left">
          <a class="site-header-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </div>
      </header>
      <div class="container">
        <div id="main">
